body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.4rem;
}

html {
  font-size: 9px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}
.pointer {
  cursor: pointer;
}
.border-box {
  box-sizing: border-box;
}

.inherit-h {
  height: inherit;
}

.inherit-w {
  width: inherit;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}

.vh100 {
  height: 100vh;
}

.vw100 {
  width: 100vw;
}
